# Godot 4+ specific ignores (старый прототип-эталон)
.godot/
/android/
builds/

# Unity project ignores
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/[Ll]ogs/
unity/[Uu]ser[Ss]ettings/
unity/[Mm]emoryCaptures/
unity/[Rr]ecordings/
unity/.vs/
unity/.idea/
unity/*.csproj
unity/*.sln
unity/*.suo
unity/*.user
unity/*.userprefs
unity/*.pidb
unity/*.booproj
unity/*.svd
unity/*.pdb
unity/*.mdb
unity/*.opendb
unity/*.VC.db
unity/crashlytics-build.properties
